.CardsContainer {
    display: flex;
    width: 648px;
    height: 224px;
    background-color: white;
    padding: 10px;
    margin:  4rem auto;
    border-radius: 16px;

}

.LeftSide, .RightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.LeftSide {
    margin-right: 8rem;
    width: 60%;
}

.Description {
    padding-left: 10px;
    margin: 0px;


}

.Author {
    padding-left: 10px;
}

.Title {
    padding-left: 10px;
}

/* .Forks, .Stars, .Issues {
    padding-top: 2.5px;
} */