.Header {
    width: 100%;
    height: 80px; 
    background-color: rgb(47, 47, 156);
    margin-bottom: 4rem;
}

.Header nav {
    height: 100%;
}

.Header ul {
    font-family: "IBM Plex Sans", sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 100%;
}

.Header li {
    margin: 0 1rem;
    width: 6rem;
}

.Header a {
    color: white;
    text-decoration: none;
}

.Header a:hover,
.Header a:active,
.Header a.active {
    color: #95bcf0;
    border-bottom: 2px solid #95bcf0;

}

.Header img {
    align-self: flex-start;
    margin-top:4px;
    width: 75%;
    height: 100%;
}